<head>
    <style type="text/css">
    	body {
    		text-align: center;
    	}
    	.login {
    		border: 1px solid red;

    	}
    	.signUp {
    		border: 1px solid red;    		
    	}
    </style>
</head>


<h1>StudStops</h1>
<div class="login">
	<a href="/users"><h2>Login</h2></a>
</div>
<div class="signUp">
<a href="/users/new"><h2>Sign Up</h2></a>
</div>